{% extends 'blog/base.html' %} <!-- Estende a template base.html do aplicativo blog -->

{% block conteudo %} <!-- Define o bloco de conteúdo específico desta página -->
    {% for post in posts %} <!-- Itera sobre todos os posts -->
        <div class="post">
            <div class="date">
                <p>Publicado em: {{ post.published_date }}</p> <!-- Exibe a data de publicação do post -->
            </div>
            <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2> <!-- Cria um link para a página de detalhes do post -->
            <p>{{ post.text }}</p> <!-- Exibe o texto do post -->
        </div>
    {% endfor %}
{% endblock %}
           